<img style="float: left; margin: 30px 15px 15px 15px;" src="https://pngimage.net/wp-content/uploads/2018/06/logo-iteso-png-5.png" width="300" height="500" /> 
    
    
### <font color='navy'> Simulación de procesos financieros. 

**Nombres:** Carolina Barba Anaya y Marco Antonio Ochoa Cárdenas.

**Fecha:** 08 de Septiembre del 2021.

**Expediente** : if720071 y if720072.
**Profesor:** Oscar David Jaramillo Zuluaga.
    
**Link Github**: https://github.com/Carolina1002/ProyectoConjunto_CBarbaa_MAOchoa.git
    
# Tarea 2: Clase 4

1. Imagine una rutina contable utilizada en una librería. Funciona en una lista con sublistas, que se ven así:
![imagen.png](attachment:imagen.png)
Escriba un programa en Python, que devuelve una lista con tuplas de tamaño 2. Cada tupla consiste en el número de pedido y el costo total del pedido. El producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €. 
Escribe un programa Python usando unicamente las funciones **lambda y map**.

`orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]`
           
2. La misma librería, pero esta vez trabajamos en una lista diferente. Las sublistas de nuestras listas se ven así: 
[número de orden, (número de artículo, cantidad, precio por unidad), ... (número de artículo, cantidad, precio por unidad)] 

`orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
	       [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
	       [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]`

Escriba un programa que devuelva una lista de dos tuplas que tengan la información de (número de pedido, cantidad total de pedido). Utilice la función `Reduce`. Recuerde el precio del pedido del producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €.

3. Resolver los anteriores ejercicios usando pandas (DataFrame)

### Soluciones Carolina

In [2]:
import pandas as pd
import numpy as np
from functools import reduce

In [3]:
########### Solución 1
orders_1 = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]

# El resultado debe ser como muestro en el resultado de esta celda
list(map(lambda x: (x[0], (x[2] * x[3]) if x[2]*x[3] >= 100 else x[2]*x[3]+10), orders_1))

[('34587', 163.8),
 ('98762', 284.0),
 ('77226', 108.85000000000001),
 ('88112', 84.97)]

In [4]:
########### Solución 2
orders_2 = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
          [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
          [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
          [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]

list(map(lambda x: (x[0], reduce(lambda a, b: a+b, list(map(lambda c: c[1]*c[2] if c[1]*c[2] >= 100 else c[1]*c[2] + 10, x[1:])))), orders_2))

[(1, 688.3299999999999),
 (2, 504.46000000000004),
 (3, 374.79999999999995),
 (4, 502.57)]

In [5]:
########### Solución 3.1
s_1 = pd.DataFrame(orders_1)
res_1 = pd.DataFrame({'Order': s_1.iloc[:,0], 
                   'Total': (s_1.iloc[:,2] * s_1.iloc[:,3])\
                            .apply(lambda x: x + 10 if x < 100 else x)})
res_1

   Order   Total
0  34587  163.80
1  98762  284.00
2  77226  108.85
3  88112   84.97

In [6]:
########### Solución 3.2
s_2 = pd.DataFrame(orders_2)

def reduce_total(li: pd.Series) -> float:
    return reduce(lambda a, b: a + b, \
                  map(lambda c: c[1]*c[2] if c[1]*c[2] >= 100 else c[1]*c[2]+10, \
                      filter(lambda x: x != None, li)))
pd.DataFrame({'Order': s_2.iloc[:,0],
              'Total': s_2.iloc[:,1:].apply(reduce_total, axis=1)})

   Order   Total
0      1  688.33
1      2  504.46
2      3  374.80
3      4  502.57

4. Use filter to eliminate all words that are shorter than 4 letters from a list of words
`list='the notion of a lambda function goes all the way back to the origin of computer science'`

In [7]:
l1 = 'the notion of a lambda function goes all the way back to the origin of computer science'
list(filter(lambda w: len(w) >= 4, l1.split()))

['notion',
 'lambda',
 'function',
 'goes',
 'back',
 'origin',
 'computer',
 'science']

5. Use filter to determine the percentage of Fahrenheit temperatures in a list are within the range 32 to 80

In [8]:
########### Solución 5
import numpy as np
np.random.seed(55555)
temperatures = np.random.uniform(25,110,30)
print((len(temperatures[(32 <= temperatures) & (temperatures <= 80)])/len(temperatures))*100,"%")

46.666666666666664 %

6. Use reduce to find the lower left corner (minimum x and minimum y value) for a list of point locations
> **Hint**: Explore the command `np.minimum.reduce` [link](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ufunc.reduce.html)

In [9]:
########### Solución 6
np.random.seed(55555)
point_xy = np.random.randint(0,100,[30,2])
print(np.minimum.reduce(point_xy))

[0 2]

### Soluciones Marco

In [ ]:
########### Solución 1
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]

In [ ]:
########### Solución 2
orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
          [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
          [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
          [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]

In [ ]:
########### Solución 5
import numpy as np
np.random.seed(55555)
temperatures = np.random.uniform(25,110,30)
print(temperatures)

In [ ]:
########### Solución 6
np.random.seed(55555)
point_xy = np.random.randint(0,100,[30,2])
print(point_xy)